<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="https://ianslay.com">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="https://ianslay.com">Home</a>



      <a class="sidebar-nav-item" href="https://ianslay.com/about">About</a>
      <a class="sidebar-nav-item" href="https://ianslay.com/Projects">Projects</a>
      <a class="sidebar-nav-item" href="https://ianslay.com/Contact">Contact</a>
      <a class="sidebar-nav-item" href="https://github.com/ianslay">My GitHub</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
